<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dropdown">DropDown</a>
      </li>
      
    </ul>
    
  </div>
</nav>

<div class="container">

<router-outlet></router-outlet>
<div>






<!-- <h1>{{ FirstName + " " + LastName }}</h1> -->
 


<!-- <button (click)="greatperson()">Click</button>
<br>
<br>
<div (mouseover)="mousingOver()" class="box"></div>
<br>
<hr>
<input (keydown)="KeyDown()" type="text">
 <label for="status">Female</label> -->
<!-- <input type='radio' id="status" checked>
<hr>
<label for="status">Male</label>
<input type='radio' id="status" checked>

  <h1>
    Welcome to {{ title }}!
  </h1>
  <hr>
<h3>
  {{FirstName}} {{LastName}}
</h3>
<br>
<hr>
{{city ? city : 'City Yes'}}

<hr>
{{displayFirstName()}} -->  